________________________________________________________________________________________________________________________


* Yuvraj Sutar 
* yuvrajsutar009@gmail.com
_ _________________________________________________________________________________________________________________________
_  _________________________________________________________________________________________________________________________

In [4]:
import pandas as pd
import numpy as np

Read the movie ratings data into a pandas DataFrame

In [5]:
movies_df = pd.read_csv('Movie.csv')

In [6]:
movies_df.head()

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

unique User ID

In [7]:
movies_df["userId"].unique()

array([   3,    6,    8, ..., 7080, 7087, 7105], dtype=int64)

count movies

In [8]:
movies_df["movie"].value_counts()

Toy Story (1995)                      2569
GoldenEye (1995)                      1548
Heat (1995)                           1260
Jumanji (1995)                        1155
Sabrina (1995)                         700
Grumpier Old Men (1995)                685
Father of the Bride Part II (1995)     657
Sudden Death (1995)                    202
Waiting to Exhale (1995)               138
Tom and Huck (1995)                     78
Name: movie, dtype: int64

In [9]:
r=movies_df.groupby("movie").mean()[["rating"]].reset_index()
c=movies_df.groupby("movie").count()[["userId"]].reset_index()

new=pd.merge(r,c,on="movie")
new.rename(columns={"userId":"Counts","rating":"Avg rating"},inplace=True) #change col name

new[(new["Avg rating"]>3.5) & (new["Counts"]>150)]

              movie  Avg rating  Counts
3       Heat (1995)    3.836508    1260
8  Toy Story (1995)    3.959323    2569

In [10]:
movies_df.sort_values('userId')
movies_df.shape

(8992, 3)

number of unique users in the dataset

In [11]:

len(movies_df.userId.unique())

4081

In [12]:
movies_df['rating'].value_counts()

3.0    2736
4.0    2660
5.0    1394
3.5     679
2.0     542
4.5     374
2.5     277
1.0     212
1.5      61
0.5      57
Name: rating, dtype: int64

In [13]:
len(movies_df.movie.unique())

10

In [14]:
movies_df.movie.value_counts()

Toy Story (1995)                      2569
GoldenEye (1995)                      1548
Heat (1995)                           1260
Jumanji (1995)                        1155
Sabrina (1995)                         700
Grumpier Old Men (1995)                685
Father of the Bride Part II (1995)     657
Sudden Death (1995)                    202
Waiting to Exhale (1995)               138
Tom and Huck (1995)                     78
Name: movie, dtype: int64

In [15]:
user_movies_df = movies_df.pivot(index='userId',
                                 columns='movie',
                                 values='rating')

In [16]:
user_movies_df.head()

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
userId,,,,,,,,,,
1,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN

user_movies_df.index = movies_df.userId.unique()

In [17]:
user_movies_df

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
userId,,,,,,,,,,
1,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7115,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7116,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
7117,NaN,3.0,4.0,5.0,NaN,3.0,1.0,NaN,4.0,NaN
7119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
7120,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,4.5,NaN

Impute those NaNs with 0 values

In [18]:

user_movies_df.fillna(0, inplace=True)

In [19]:
user_movies_df

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
userId,,,,,,,,,,
1,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
4,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7115,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7116,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
7117,0.0,3.0,4.0,5.0,0.0,3.0,1.0,0.0,4.0,0.0
7119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
7120,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,4.5,0.0

Calculating Cosine Similarity between Users

In [20]:

from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [21]:
user_sim = pairwise_distances( user_movies_df.values,metric='euclidean')

In [22]:
user_sim

array([[0.        , 5.31507291, 5.31507291, ..., 9.39414711, 6.10327781,
        6.04152299],
       [5.31507291, 0.        , 5.65685425, ..., 7.74596669, 6.40312424,
        8.26135582],
       [5.31507291, 5.65685425, 0.        , ..., 7.74596669, 1.        ,
        5.67890835],
       ...,
       [9.39414711, 7.74596669, 7.74596669, ..., 0.        , 7.81024968,
        8.26135582],
       [6.10327781, 6.40312424, 1.        , ..., 7.81024968, 0.        ,
        5.67890835],
       [6.04152299, 8.26135582, 5.67890835, ..., 8.26135582, 5.67890835,
        0.        ]])

Store the results in a dataframe

In [23]:
user_sim_df = pd.DataFrame(user_sim)
user_sim_df

,0,1,2,3,4,5,6,7,8,9,...,4071,4072,4073,4074,4075,4076,4077,4078,4079,4080
0,0.000000,5.315073,5.315073,6.103278,0.500000,8.440972,5.500000,8.845903,5.315073,6.224950,...,4.031129,5.315073,1.500000,4.031129,5.500000,5.315073,6.363961,9.394147,6.103278,6.041523
1,5.315073,0.000000,5.656854,6.403124,5.000000,7.141428,3.162278,6.480741,5.656854,6.519202,...,4.472136,5.656854,4.472136,6.928203,5.830952,5.656854,6.652067,7.745967,6.403124,8.261356
2,5.315073,5.656854,0.000000,6.403124,5.000000,5.916080,5.830952,7.071068,0.000000,2.549510,...,4.472136,0.000000,4.472136,4.000000,5.830952,5.656854,3.500000,7.745967,1.000000,5.678908
3,6.103278,6.403124,6.403124,0.000000,5.830952,9.165151,6.557439,6.403124,6.403124,5.612486,...,3.605551,6.403124,5.385165,7.549834,1.000000,6.403124,7.297260,6.855655,7.071068,8.789198
4,0.500000,5.000000,5.000000,5.830952,0.000000,8.246211,5.196152,8.660254,5.000000,5.958188,...,3.605551,5.000000,1.000000,4.123106,5.196152,5.000000,6.103278,9.219544,5.830952,6.103278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4076,5.315073,5.656854,5.656854,6.403124,5.000000,8.660254,5.830952,9.055385,5.656854,6.519202,...,4.472136,5.656854,4.472136,6.928203,5.830952,0.000000,4.031129,9.591663,6.403124,8.261356
4077,6.363961,6.652067,3.500000,7.297260,6.103278,6.873864,6.800735,7.889867,3.500000,4.330127,...,5.678908,3.500000,5.678908,5.315073,6.800735,4.031129,0.000000,8.500000,3.640055,6.670832
4078,9.394147,7.745967,7.745967,6.855655,9.219544,6.403124,7.211103,4.000000,7.745967,7.176350,...,8.246211,7.745967,8.944272,8.717798,6.782330,9.591663,8.500000,0.000000,7.810250,8.261356
4079,6.103278,6.403124,1.000000,7.071068,5.830952,5.830952,6.557439,7.141428,1.000000,2.549510,...,5.385165,1.000000,5.385165,4.123106,6.557439,6.403124,3.640055,7.810250,0.000000,5.678908
4080,6.041523,8.261356,5.678908,8.789198,6.103278,5.123475,6.800735,9.069179,5.678908,6.184658,...,7.500000,5.678908,6.344289,4.031129,8.381527,8.261356,6.670832,8.261356,5.678908,0.000000

Set the index and column names to user ids

In [24]:
user_sim_df.index = movies_df.userId.unique()
user_sim_df.columns = movies_df.userId.unique()

In [25]:
user_sim_df

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,0.000000,5.315073,5.315073,6.103278,0.500000,8.440972,5.500000,8.845903,5.315073,6.224950,...,4.031129,5.315073,1.500000,4.031129,5.500000,5.315073,6.363961,9.394147,6.103278,6.041523
6,5.315073,0.000000,5.656854,6.403124,5.000000,7.141428,3.162278,6.480741,5.656854,6.519202,...,4.472136,5.656854,4.472136,6.928203,5.830952,5.656854,6.652067,7.745967,6.403124,8.261356
8,5.315073,5.656854,0.000000,6.403124,5.000000,5.916080,5.830952,7.071068,0.000000,2.549510,...,4.472136,0.000000,4.472136,4.000000,5.830952,5.656854,3.500000,7.745967,1.000000,5.678908
10,6.103278,6.403124,6.403124,0.000000,5.830952,9.165151,6.557439,6.403124,6.403124,5.612486,...,3.605551,6.403124,5.385165,7.549834,1.000000,6.403124,7.297260,6.855655,7.071068,8.789198
11,0.500000,5.000000,5.000000,5.830952,0.000000,8.246211,5.196152,8.660254,5.000000,5.958188,...,3.605551,5.000000,1.000000,4.123106,5.196152,5.000000,6.103278,9.219544,5.830952,6.103278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,5.315073,5.656854,5.656854,6.403124,5.000000,8.660254,5.830952,9.055385,5.656854,6.519202,...,4.472136,5.656854,4.472136,6.928203,5.830952,0.000000,4.031129,9.591663,6.403124,8.261356
7070,6.363961,6.652067,3.500000,7.297260,6.103278,6.873864,6.800735,7.889867,3.500000,4.330127,...,5.678908,3.500000,5.678908,5.315073,6.800735,4.031129,0.000000,8.500000,3.640055,6.670832
7080,9.394147,7.745967,7.745967,6.855655,9.219544,6.403124,7.211103,4.000000,7.745967,7.176350,...,8.246211,7.745967,8.944272,8.717798,6.782330,9.591663,8.500000,0.000000,7.810250,8.261356
7087,6.103278,6.403124,1.000000,7.071068,5.830952,5.830952,6.557439,7.141428,1.000000,2.549510,...,5.385165,1.000000,5.385165,4.123106,6.557439,6.403124,3.640055,7.810250,0.000000,5.678908
7105,6.041523,8.261356,5.678908,8.789198,6.103278,5.123475,6.800735,9.069179,5.678908,6.184658,...,7.500000,5.678908,6.344289,4.031129,8.381527,8.261356,6.670832,8.261356,5.678908,0.000000

In [26]:
np.fill_diagonal(user_sim, 1)
user_sim_df.iloc[0:5, 0:11]

,3,6,8,10,11,12,13,14,16,19,22
3,1.000000,5.315073,5.315073,6.103278,0.500000,8.440972,5.500000,8.845903,5.315073,6.224950,7.697402
6,5.315073,1.000000,5.656854,6.403124,5.000000,7.141428,3.162278,6.480741,5.656854,6.519202,6.244998
8,5.315073,5.656854,1.000000,6.403124,5.000000,5.916080,5.830952,7.071068,0.000000,2.549510,5.567764
10,6.103278,6.403124,6.403124,1.000000,5.830952,9.165151,6.557439,6.403124,6.403124,5.612486,7.348469
11,0.500000,5.000000,5.000000,5.830952,1.000000,8.246211,5.196152,8.660254,5.000000,5.958188,7.483315

Most Similar Users

In [27]:
user_sim_df.idxmin(axis=1)

3       2056
6        715
8         16
10      4047
11       209
        ...
7044    1528
7070    1808
7080    7080
7087     134
7105    6450
Length: 4081, dtype: int64

In [28]:
movies_df[(movies_df['userId']==3) | (movies_df['userId']==2056)]

      userId             movie  rating
0          3  Toy Story (1995)     4.0
737     2056  Toy Story (1995)     0.5
7900    2056  GoldenEye (1995)     2.5

In [29]:
user_1=movies_df[movies_df['userId']==6]

In [30]:
user_2=movies_df[movies_df['userId']==168]

In [31]:
type(user_2)

pandas.core.frame.DataFrame

In [32]:
user_2.movie

60    Toy Story (1995)
Name: movie, dtype: object

In [33]:
user_1.movie

1              Toy Story (1995)
3725    Grumpier Old Men (1995)
6464             Sabrina (1995)
Name: movie, dtype: object

In [34]:
pd.merge(user_1,user_2,on='movie',how='outer')

   userId_x                    movie  rating_x  userId_y  rating_y
0         6         Toy Story (1995)       5.0     168.0       4.5
1         6  Grumpier Old Men (1995)       3.0       NaN       NaN
2         6           Sabrina (1995)       5.0       NaN       NaN

* Yuvraj Sutar 
* yuvrajsutar009@gmail.com