________________________________________________________________________________________________________________________


* Yuvraj Sutar 
* yuvrajsutar009@gmail.com
_ _________________________________________________________________________________________________________________________
_  _________________________________________________________________________________________________________________________

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

Load the housing data into a Pandas DataFrame

In [25]:
df = pd.read_csv('housing.csv')

In [26]:
df

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

provides information about the Pandas DataFrame

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   CRIM        506 non-null    float64
 2   ZN          506 non-null    float64
 3   INDUS       506 non-null    float64
 4   CHAS        506 non-null    float64
 5   NOX         506 non-null    float64
 6   RM          506 non-null    float64
 7   AGE         506 non-null    float64
 8   DIS         506 non-null    float64
 9   RAD         506 non-null    float64
 10  TAX         506 non-null    float64
 11  PTRATIO     506 non-null    float64
 12  B           506 non-null    float64
 13  LSTAT       506 non-null    float64
dtypes: float64(13), int64(1)
memory usage: 55.5 KB

Split the data into features (X) and target (y)

In [18]:
X = df.drop(['LSTAT'], axis=1)
y = df['LSTAT']

Split the data into training and testing sets

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Train the KNN Regressor on the training data

In [20]:
knn = KNeighborsRegressor(n_neighbors=5)
knn.fit(X_train, y_train)

KNeighborsRegressor()

 Use the trained model to make predictions on the test data

In [22]:
y_pred = knn.predict(X_test)
y_pred

array([12.978,  7.328, 16.62 ,  8.052, 17.24 , 14.232,  8.638, 17.734,
       14.462, 14.244, 16.738, 18.892, 21.958, 11.346, 10.514, 13.58 ,
       19.936, 17.876,  4.644, 19.96 ,  6.32 ,  7.328, 14.222,  8.836,
       15.67 , 19.108, 10.148, 20.474, 14.388, 14.244, 12.978,  9.214,
       27.89 ,  9.13 , 20.768, 12.958,  6.434,  7.738, 13.608,  6.74 ,
       14.244,  6.764,  3.848,  9.396,  7.128, 19.974, 14.73 ,  8.052,
       14.404, 11.23 , 16.106,  7.034, 15.496, 13.722,  7.302, 12.142,
       19.96 ,  4.676,  6.488,  9.86 ,  8.406,  6.618,  6.444, 18.65 ,
        7.728, 16.738, 18.332,  7.408,  6.618, 20.474,  9.186, 12.04 ,
       18.764,  6.178, 11.346, 25.426, 15.642,  3.848, 27.08 , 20.806,
        8.924, 17.802,  7.86 , 18.332,  8.638,  7.618, 18.306,  7.898,
        6.278, 20.75 ,  7.83 , 17.642, 16.096,  9.554, 13.248, 16.62 ,
       11.124, 25.684, 25.932, 25.21 ,  6.086, 11.346])

Evaluate the model using mean squared error

In [23]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 20.204988117647055

* Yuvraj Sutar 
* yuvrajsutar009@gmail.com